@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,200;0,300;1,600&display=swap');
html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px / 16px = 62.5% => 1rem = 10px  
    font-family: 'Quicksand', sans-serif;
    min-height: 100%;

    // font-family: 'Yusei Magic', sans-serif;
    position: relative;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
::selection {
    background-color: orangered;
    color: #fff;
    font-weight: 400;

}

body    {
    background: linear-gradient(hsl(209, 59%, 31%) 0%, hsl(209, 96%, 9%) 50%, hsl(209, 96%, 12%) 100%);
    // padding: 1rem;
}

.backdrop{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: rgba(17, 16, 16, 0.90);
    display: flex;
    justify-content: center;
    align-items: center;       
    // display: none;
    display: flex;
}

.menu{
    background-color: rgb(179, 179, 179);
    background: linear-gradient(hsl(209, 59%, 31%) 0%, hsl(209, 96%, 9%) 50%, hsl(209, 96%, 12%) 100%);

    padding: 5rem;
    min-width: 60rem;
    width: 33vw;
    min-height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    border: 10px solid rgb(185, 185, 185);
    
    
    // padding: 5rem;
}
.logo{    
    width: 100%;
    flex: 1 ;
    font-family: 'Exo', sans-serif;
    color: white;
    font-size: 5rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
}
.game-form{
    // background-color: purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 3.5rem;
    font-size: 20px;
}

label{
    margin-top: 2rem;
    margin-bottom: .5rem;
    text-align: center;

}


button#btn-create,
button#btn_joinGame{
    margin: 2rem 1rem;
    padding: 1rem 2rem;
    border: none;
    background-color: hsla(101, 100%, 59%, 0.884);
    transition: all .3s;
    
}
input.submit-btn:hover,
button#btn-create:hover,
button#btn_joinGame:hover{
    filter: hue-rotate(120deg);
}


input#game_room_id{
    width: 100%;
    font-size: 2rem;
    padding: 1.5rem;

}
input[type=text]:placeholder-shown {
    color: white;
    font-weight: 100;
    font-size: 2rem;
    padding: 1.5rem;

}

input[type=text],
input[type=number]{   
    width: 100%;    
    font-size: 2rem;
    padding: 1.5rem;
    text-align: center;
    border-radius: 0 0 7px 7px ;
    background: linear-gradient(rgba(248, 248, 248, 0.1) 0%, hsla(0, 0%, 10%, 0.2) 20% ,hsla(0, 0%, 7%, 0.226) 50%, transparent 100%);
    border: inset  2px hsla(0, 0%, 0%, 0.375);
    color: yellow;
    font-weight: 600;
}

input[type=number]{    
    width: 75px ;
}

input[type=submit]{
    margin: 2.5rem auto;
    padding: 1rem 2rem;
    background-color: rgb(243, 102, 20);
}
#players_in_game{
    margin-bottom: 1rem;
}
.btn{
    padding: .7rem 3rem;
    border-radius: 5px;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;    
}

.btn-small{
    padding: .5rem 1rem;
    text-transform: uppercase;
    background-color: hsla(192, 44, 85, 100);
    border-radius: 5px;
    border: solid 2px hsla(192, 44, 75, 100);  
}



.play-pause-control{    
    display: flex;
    justify-content: center;    
}

#play-pause-btn{
    font-size: 1.5rem;
}

.btn-pause{
    background-color: #fdea3e;
    color: #bd4040;
}
.btn-play{
    background-color: #ed7e06;
    color: #fff;
}


// ******************* GAME  *******************

.game{
    display: grid;
    grid-template-columns: minmax(5rem, .5fr) repeat(3, minmax(max-content, min-content)) 1fr;
    grid-template-rows: 1fr minmax(max-content, auto)  1fr;
    gap: 5rem;
    justify-content: center;
}


// ******************* RECORDS  *******************
.records{
    // background-color: orangered;
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.details, .high_scores{
    padding: 1rem;
    border: thick double hsla(0, 0%, 100%, 0.19);
    border-radius: 5px;
    
}

.details > span {
    display: block;
    color: #fff;
    margin: .5rem 1rem;
    text-align: right;
    text-transform: uppercase;
    font-weight: lighter;
    
}

.display, 
.ranked-player{
    display: flex;
    justify-content: center;
    padding: .2rem 1rem;
    text-align: center;
    border-radius: 0 0 7px 7px ;
    background: linear-gradient(rgba(248, 248, 248, 0.1) 0%, hsla(0, 0%, 10%, 0.2) 20% ,hsla(0, 0%, 7%, 0.226) 50%, transparent 100%);
    border: inset  2px hsla(0, 0%, 0%, 0.375);
}


.high_scores{
    color: #fff;
    text-align: center;
    font-weight: bold;
    
}
.high_scores .tag{
    margin-bottom: 1rem;
    font-size: 1rem;
    text-transform: uppercase;
}

.best-players-list {
    list-style: none;
}
.best-players-list :not(:last-child){
    margin-bottom: .5rem;
    list-style: none;
}

.ranked-player{
    display: flex;
}
.best{
    margin-right: auto;
}

.top_score{
    color: greenyellow;
    text-align: right;
    margin-left: 2.5rem;
}

// ******************* PLAYGROUND  *******************
.game-area-box{
    // background-color: #ed7e06;
    grid-row: 2 / span 1;
    grid-column: 3 / span 1;
    margin: auto 0;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
.game_hint{
    // background-color: blueviolet;
    align-items: center;
    color: #fff;    
    margin: 3vh 0;
}

.next_piece .tag{
    text-align: center;
    margin: 1rem auto;
    font-size: large;
    text-transform: capitalize;
}

canvas#nextPiece  {
    background: linear-gradient(rgba(248, 248, 248, 0.1) 0%, hsla(0, 0%, 10%, 0.2) 20% ,hsla(0, 0%, 7%, 0.226) 50%, transparent 100%);
    border: thick double hsla(0, 0%, 100%, 0.19);
    padding: 2rem;
}

// ******************* PLAYGROUND - GAME  *******************

canvas#tetris  {
    background-color: hsla(0, 0%, 6%, 1.0);
    border: 6px solid rgb(124, 123, 123);
    margin: 2rem auto;
}


// ******************* CONTENDERES  *******************

.contenders{
    grid-row: 2/span 1;
    grid-column: 4/-1;
    max-height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
    gap: 1rem;
    align-items: stretch;
    padding: 0;
    // background-color: orange;
}

.contender{
    // background-color: #bd4040;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    &__name{
        text-transform: uppercase;
    }
    &__canvas{
        background-color: hsla(0, 0%, 6%, 1.0);
        border: 3px solid rgb(124, 123, 123);
        margin: 1rem 0;    
    }
    &__records{
        color: rgb(173, 173, 173);        
    }

    .record{
       display: flex;
       justify-content: space-between;
       
    }
    .record strong{
        color: rgb(35, 255, 46);
        margin-left: 2rem;
    }
}



